body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

header {
  background: #333;
  color: white;
  padding: 15px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: orange;
}

footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* form */

/* Estilizando o container */
.container {
  width: 90%;
  max-width: 600px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilizando o título */
h2 {
  text-align: center;
  color: #333;
}

/* Estilizando o formulário */
form {
  display: flex;
  flex-direction: column;
}

/* Estilizando os labels */
label {
  font-weight: bold;
  margin-top: 10px;
}

/* Estilizando os campos de entrada */
input, textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Estilizando o botão */
button {
  margin-top: 15px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0056b3;
}